{% extends "application.html" %} {% block content %}
<h1>Tarefas do TodoIt</h1>

<a href="{{ task_id }}/" class="btn btn-primary">Voltar</a>

{% if tasks %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Expiration</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
    <tr>
      <td class="align-middle">{{ task.title }}</td>
      <td class="align-middle">{{ task.date_expiration }}</td>
      <td class="align-middle actions">
        <a href="{{ task.task_id }}/edit/{{ task.id }}" class="btn btn-warning"
          >Edit</a
        >
        <a href="{{ task.task_id }}/delete/{{ task.id }}" class="btn btn-danger"
          >Delete</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>Nenhuma tarefa no TodoIt. Por favor inclua uma.</p>
{% endif %} {% endblock content %}
